@model Baithi_HAH.Models.HAHCau3

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa sinh viên khỏi danh sách</h1>

<h3>Bạn có chắc chắn muốn xóa sinh viên này ?</h3>
<div>
    @* <h4>HAHCau3</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Masinhvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Masinhvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namsinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namsinh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Masinhvien" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về bảng sinh viên </a>
    </form>
</div>
